@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: var(--primary-color);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--primary-color);
  filter: brightness(1.1);
  box-shadow: 0px 0px 20px var(--primary-color);
}

.gradient,
.active {
  background: var(--primary-color);
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }

  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }

  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }

  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }

  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }

  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }

  .btn-link {
    @apply text-base;
  }

  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-accent to-accent font-bold font-primary hover:brightness-110;
  }

  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}